## DATAWRANGLINGINPYTHON/DATAWRANGLINGWITHNUMPY/DATAWRANGLINGINPYTHON DATAWRANGLINGWITHNUMPY 3 EXERCISE  ##
#### Please refer to module 1 of DataWranglingInPython - DataWranglingWithNumpy for Tasks 1-6 
#### Task 1
##### Create an array of 25 numbers between 1 and 100 (including 100) and save to `arr1` variable.
##### Print the type and data type of `arr1`.
#### Result:

#### Task 2
##### Create an array of 20 numbers from 50 to 70 (excluding 70).
##### Use the `arange` function and assign the output to `arr2` variable.
#### Result:

#### Please refer to module 2 of DataWranglingInPython - DataWranglingWithNumpy for Tasks 3-6 
#### Task 3
##### Create an array of 10 numbers between 0 and 20 (including 20) and assign to `arr3` variable.
##### Use `linspace` function.
##### Find the max, min, their indices, sum and mean of the array.
#### Result:

#### Task 4
##### Create two arrays of size 4 with the numbers 4, 5, 6, 4 in `array1` and 7, 2, 12, 16 in `array2`.
##### Find the `sum`,  `product`, `difference`, and `quotient` of `array1` and `array2`. Save the results as `array_sum`, `product`, `difference`, and `quotient` variables, respectively.
##### Perform the set operations `union` and `intersect` on the arrays.
##### Stack the arrays vertically and horizontally.
##### Print the results.
#### Result:

#### Task 5
##### Compute the absolute value of each entry in the following array: `[5, -8, -66, 4]`.
##### Assign the operation to `abs_values` variable. Print the result.
##### Print the length of the `abs_values` array.
##### Print the 3rd element of `abs_values`.
#### Result:

#### Task 6
##### Print all numbers greater than 25 in `abs_values` array.
#### Result:

#### Please refer to module 3 of DataWranglingInPython - DataWranglingWithNumpy for Tasks 7-8
#### Task 7
##### Create the following matrix with 3 rows and assign to variable `mat1`:
- [4, 5, 6]
- [8, 3, 2]
- [6, 7, 3]
##### Find the shape of the matrix.
#### Result:

#### Task 8
##### Find the value in the 2nd row and 3rd column of `mat1`.
##### Print the 2nd and 3rd rows.
##### Print the 1st column and rows up to the 2nd row.
##### Print all columns starting with column 2.
#### Result:

#### Bonus Task 1
##### Filter and print the elements greater than 5 in `mat1`.
##### Use a Boolean mask to filter all elements <= 5 and set them to 0.
##### Print the resulting matrix.
#### Result:

#### Bonus Task 2
##### Use the `linspace` function to create a NumPy array of 16 numbers between 10 and 25 (inclusive) called `arr4`.
##### Reshape the array to a matrix of shape (4,4) and print it.
##### Reshape the array to a matrix with 8 rows and let Python infer the number of columns.
#### Result: